node_modules/
**/node_modules/

*.db
*.sqlite
*.sqlite3

uploads/
**/uploads/

.env
.env.*

dist/
**/dist/
build/
**/build/
release/
**/release/

out/
**/out/

.cursor/

# amplify
.amplify
amplify_outputs*
amplifyconfiguration*
